<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>热门城市</key>
	<array>
		<string>北京</string>
		<string>上海</string>
		<string>广州</string>
		<string>深圳</string>
		<string>杭州</string>
		<string>苏州</string>
		<string>宁波</string>
		<string>南京</string>
		<string>三亚</string>
		<string>厦门</string>
		<string>香港</string>
		<string>澳门</string>
		<string>武汉</string>
		<string>成都</string>
		<string>重庆</string>
		<string>西安</string>
		<string>昆明</string>
		<string>青岛</string>
		<string>大连</string>
		<string>沈阳</string>
	</array>
	<key>A</key>
	<array>
		<string>安庆</string>
		<string>阿克苏</string>
		<string>澳门</string>
	</array>
	<key>B</key>
	<array>
		<string>保定</string>
		<string>北海</string>
		<string>北京</string>
		<string>保山</string>
		<string>百色</string>
		<string>包头</string>
	</array>
	<key>C</key>
	<array>
		<string>长白山</string>
		<string>长春</string>
		<string>成都</string>
		<string>常德</string>
		<string>昌都</string>
		<string>赤峰</string>
		<string>重庆</string>
		<string>长沙</string>
		<string>朝阳</string>
		<string>常州</string>
		<string>长治</string>
	</array>
	<key>D</key>
	<array>
		<string>稻城</string>
		<string>丹东</string>
		<string>敦煌</string>
		<string>都江堰</string>
		<string>大连</string>
		<string>大理</string>
		<string>大庆</string>
		<string>大同</string>
		<string>东营</string>
		<string>德阳</string>
	</array>
	<key>E</key>
	<array>
		<string>鄂尔多斯</string>
		<string>峨眉山</string>
		<string>恩施</string>
	</array>
	<key>F</key>
	<array>
		<string>佛山</string>
		<string>福州</string>
	</array>
	<key>H</key>
	<array>
		<string>邯郸</string>
		<string>哈尔滨</string>
		<string>合肥</string>
		<string>黑河</string>
		<string>怀化</string>
		<string>呼和浩特</string>
		<string>红河州</string>
		<string>海口</string>
		<string>海螺沟（甘孜州）</string>
		<string>哈密</string>
		<string>黄山</string>
		<string>黄岩</string>
		<string>杭州</string>
		<string>汉中</string>
	</array>
	<key>J</key>
	<array>
		<string>景德镇</string>
		<string>靖江（泰州）</string>
		<string>九江</string>
		<string>佳木斯</string>
		<string>济南</string>
		<string>济宁</string>
		<string>建水</string>
		<string>江油</string>
		<string>嘉峪关</string>
		<string>锦州</string>
		<string>九寨沟</string>
	</array>
	<key>K</key>
	<array>
		<string>库尔勒</string>
		<string>克拉玛依</string>
		<string>昆明</string>
		<string>喀什</string>
	</array>
	<key>L</key>
	<array>
		<string>临沧</string>
		<string>丽江（含束河）</string>
		<string>拉萨</string>
		<string>乐山</string>
		<string>临沂</string>
		<string>洛阳</string>
		<string>龙岩</string>
		<string>连云港</string>
		<string>兰州</string>
		<string>柳州</string>
		<string>泸州</string>
		<string>林芝</string>
		<string>阆中</string>
	</array>
	<key>M</key>
	<array>
		<string>牡丹江</string>
		<string>漠河</string>
		<string>眉山</string>
		<string>绵阳</string>
		<string>满洲里</string>
	</array>
	<key>N</key>
	<array>
		<string>宁波</string>
		<string>南昌</string>
		<string>南充</string>
		<string>南京</string>
		<string>内江</string>
		<string>南宁</string>
		<string>南通</string>
		<string>南阳</string>
	</array>
	<key>P</key>
	<array>
		<string>攀枝花</string>
	</array>
	<key>Q</key>
	<array>
		<string>青岛</string>
		<string>秦皇岛</string>
		<string>齐齐哈尔</string>
		<string>衢州</string>
	</array>
	<key>R</key>
	<array>
		<string>日喀则</string>
		<string>日照</string>
	</array>
	<key>S</key>
	<array>
		<string>上海</string>
		<string>石家庄</string>
		<string>汕头</string>
		<string>三亚</string>
		<string>沈阳</string>
		<string>深圳</string>
		<string>苏州</string>
	</array>
	<key>T</key>
	<array>
		<string>泰安</string>
		<string>腾冲</string>
		<string>天津</string>
		<string>通辽</string>
		<string>铜仁</string>
		<string>天水</string>
		<string>唐山</string>
		<string>太原</string>
	</array>
	<key>W</key>
	<array>
		<string>潍坊</string>
		<string>武汉</string>
		<string>威海</string>
		<string>乌海</string>
		<string>乌鲁木齐</string>
		<string>无锡</string>
		<string>温州</string>
		<string>梧州</string>
	</array>
	<key>X</key>
	<array>
		<string>西安</string>
		<string>西昌（凉山州）</string>
		<string>香港</string>
		<string>锡林浩特</string>
		<string>厦门</string>
		<string>西宁</string>
		<string>徐州</string>
	</array>
	<key>Y</key>
	<array>
		<string>延安</string>
		<string>雅安</string>
		<string>宜宾</string>
		<string>银川</string>
		<string>宜昌</string>
		<string>运城</string>
		<string>盐城</string>
		<string>延吉</string>
		<string>榆林</string>
		<string>伊宁</string>
		<string>烟台</string>
		<string>义乌</string>
		<string>永州</string>
		<string>扬州</string>
	</array>
	<key>Z</key>
	<array>
		<string>淄博</string>
		<string>自贡</string>
		<string>珠海</string>
		<string>湛江</string>
		<string>张家界</string>
		<string>张家口</string>
		<string>中卫</string>
		<string>资阳</string>
		<string>郑州</string>
	</array>
</dict>
</plist>
