<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>秒杀规则</key>
		<string>1、苏宁易购“兄弟秒杀”为苏宁易购客户端会员专享活动，每日偶数整点10:00、12:00、14:00、16:00、18:00、20:00、22:00共7场秒杀，每场秒杀仅提供一款商品参加活动；
                
2、兄弟秒杀定义为“无兄弟，不秒杀”，秒杀必须通过两个人才能完成；
                
3、秒杀开始时，一个用户点击“我要帮”会生成一个随机的加密二维码；
                
4、另一位用户点击“我要秒”进入二维码扫描页面，开始扫描加密的二维码；
                
5、二维码验证成功后，秒杀商品自动加入购物车；
                
6、秒杀成功后需在30分钟内完成支付，否则将失去秒杀资格。

                    www.suning.com
                    客服热线：4008-365-365</string>
	</dict>
	<dict>
		<key>秒杀秘籍</key>
		<string>如何提高秒杀成功率：
                
1、	确保网络通畅，建议使用wifi或者3G网络，以便提高秒杀成功率；
                
2、	秒杀之前先登录账号并设置好收货地址，以便秒杀成功后第一时间付款；
                
3、	秒杀之前确保有人配合生成秒杀二维码，以便快速秒杀；
                
4、	确保秒杀时环境光线良好，以便快速完成二维码扫描；
                
常见问题：
1、	为什么每次都秒不到？
小易：因为参与秒杀的商品都很便宜，参与的用户很多而商品数量都有限，因此需要一点运气哦。
                
2、	秒杀商品是否支持货到付款？
小易：秒杀商品不支付货到付款的，一旦秒杀成功请在30分钟内支付完成，否则系统将自动取消秒杀资格。
                
3、	秒杀商品是否开具发票？
小易：秒杀商品和其他正常商品一样，都会开具发票，并享受相同的政策。

                    www.suning.com
                    客服热线：4008-365-365
                
            </string>
	</dict>
</array>
</plist>
