<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UnknownHttpUrl</key>
	<string>routeUnknownHttpUrl:</string>
	<key>Unrecognized</key>
	<string>routeUnrecognized:</string>
	<key>DGFQ</key>
	<string>routeLotteryPaySuccess:</string>
	<key>ScanToLoginOrRegist</key>
	<string>routeScanToLoginOrRegist:</string>
	<key>DoNothing</key>
	<string>routeDoNothing:</string>
	<key>12</key>
	<string>routeRushBuyListOrDetail:</string>
	<key>13</key>
	<string>routeBangDanList:</string>
	<key>14</key>
	<string>routeCategoryList:</string>
	<key>15</key>
	<string>routeLotteryHall:</string>
	<key>16</key>
	<string>routeMobileCharge:</string>
	<key>17</key>
	<string>routeHotsaleListOrProductDetail:</string>
	<key>18</key>
	<string>routeDeliveryInstall:</string>
	<key>19</key>
	<string>routeWaterElecGas:</string>
	<key>20</key>
	<string>routeBrowsingHistory:</string>
	<key>21</key>
	<string>routeMyFavorites:</string>
	<key>23</key>
	<string>routeSearch:</string>
	<key>24</key>
	<string>routeShopCart:</string>
	<key>25</key>
	<string>routeMyEBuy:</string>
	<key>26</key>
	<string>routeProductDetail:</string>
	<key>27</key>
	<string>routeLocalLife:</string>
	<key>28</key>
	<string>routeLocalLifeDetail:</string>
	<key>29</key>
	<string>routeOrderAll:</string>
	<key>30</key>
	<string>routeSearchResult:</string>
	<key>101</key>
	<string>routeEightBanner:</string>
	<key>102</key>
	<string>routeEightBanner:</string>
	<key>103</key>
	<string>routeEightBanner:</string>
	<key>104</key>
	<string>routeEightBanner:</string>
	<key>105</key>
	<string>routeEightBanner:</string>
	<key>106</key>
	<string>routeEightBanner:</string>
	<key>200</key>
	<string>routeActivitySubjectPage:</string>
	<key>201</key>
	<string>routeActivityProductList:</string>
	<key>202</key>
	<string>routeActivityProductList:</string>
	<key>203</key>
	<string>routeActivityProductList:</string>
	<key>204</key>
	<string>routePlayVoice:</string>
	<key>1000</key>
	<string>routeYunXinPay:</string>
	<key>1001</key>
	<string>routeHome:</string>
	<key>1002</key>
	<string>routeWebView:</string>
	<key>1003</key>
	<string>routeEightBanner:</string>
	<key>1004</key>
	<string>routeCategoryList:</string>
	<key>1005</key>
	<string>routeCategoryResultList:</string>
	<key>1006</key>
	<string>routeCharge:</string>
	<key>1007</key>
	<string>routeLotteryHall:</string>
	<key>1008</key>
	<string>routeMessageCenter:</string>
	<key>1009</key>
	<string>routeLogisticsQuery:</string>
	<key>1010</key>
	<string>routeMyFavorites:</string>
	<key>1011</key>
	<string>routeNearBySuning:</string>
	<key>1012</key>
	<string>routeCStoreHome:</string>
	<key>1013</key>
	<string>routeProductDetail2:</string>
	<key>1014</key>
	<string>routeRushBuyList:</string>
	<key>1015</key>
	<string>routeRushBuyDetail:</string>
	<key>1016</key>
	<string>routeYunXinPay:</string>
	<key>1017</key>
	<string>routeTVScanToPay2:</string>
	<key>1018</key>
	<string>routeBangDanList:</string>
	<key>1019</key>
	<string>routeNewCuXiaoPage:</string>
	<key>1020</key>
	<string>routeNewCuXiaoPage:</string>
	<key>1021</key>
	<string>routeCheckIn:</string>
	<key>1022</key>
	<string>routeSearch:</string>
	<key>1023</key>
	<string>routeSearchResult2:</string>
	<key>1024</key>
	<string>routeShopCart:</string>
	<key>1025</key>
	<string>routeMyEBuy:</string>
	<key>1026</key>
	<string>routeMyEpp:</string>
	<key>1027</key>
	<string>routeMyIntegal:</string>
	<key>1028</key>
	<string>routeMyCoupon:</string>
	<key>1029</key>
	<string>routeMyEGiftCard:</string>
	<key>1030</key>
	<string>routeMyMemberCard:</string>
	<key>1031</key>
	<string>routeOrderAll:</string>
	<key>1032</key>
	<string>routeOrderToBePaid:</string>
	<key>1033</key>
	<string>routeOrderDetail:</string>
	<key>1034</key>
	<string>routeOrderUponReceipt:</string>
	<key>1035</key>
	<string>routeOrderLogisticsDetail:</string>
	<key>1036</key>
	<string>routeOrderToBeAppraise:</string>
	<key>1037</key>
	<string>routeIWantShowOrder:</string>
	<key>1038</key>
	<string>routeIWantAppraise:</string>
	<key>1039</key>
	<string>routeOrderInReturning:</string>
	<key>1040</key>
	<string>routeCPACPS:</string>
	<key>1041</key>
	<string>routeCPACPSReward:</string>
	<key>1042</key>
	<string>routeBrowsingHistory:</string>
	<key>1043</key>
	<string>routeAddressManager:</string>
	<key>1044</key>
	<string>routeUserFeedback:</string>
	<key>1045</key>
	<string>routeDownloadUpgrade:</string>
	<key>1046</key>
	<string>routeYaoYiYaoFromPromotion:</string>
	<key>1047</key>
	<string>routeIntegalPlayground:</string>
	<key>1048</key>
	<string>routeYaoYiYaoFromIntegalPlayground:</string>
	<key>1050</key>
	<string>routeUnitedEditionTopics:</string>
	<key>1051</key>
	<string>routeSetting:</string>
	<key>1052</key>
	<string>routeLogin:</string>
	<key>1053</key>
	<string>routeRegiste:</string>
	<key>2000</key>
	<string>routeTVScanToPay:</string>
	<key>2001</key>
	<string>routeTVScanToPay2:</string>
</dict>
</plist>
