<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>icon.png</string>
		<key>name</key>
		<string>苏宁易购</string>
		<key>version</key>
		<string>2.1.7</string>
		<key>description</key>
		<string>新颖的设计风格，优质的用户体验，提供快捷的购物通道</string>
		<key>owner</key>
		<true/>
		<key>iTunesUrl</key>
		<string>http://itunes.apple.com/cn/app/id424598114?l=en&amp;mt=8</string>
		<key>localUrl</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string>redbabyicon.png</string>
		<key>name</key>
		<string>红孩子</string>
		<key>version</key>
		<string>1.0</string>
		<key>description</key>
		<string>专业销售母婴商品，正品行货，方便快捷，给你不一样的购物享受</string>
		<key>owner</key>
		<false/>
		<key>iTunesUrl</key>
		<string>https://itunes.apple.com/us/app/su-ning-hong-hai-zi/id616589964?ls=1&amp;mt=8</string>
		<key>localUrl</key>
		<string>com.suning.RedBaby://</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>suningBusinessicon.png</string>
		<key>name</key>
		<string>苏宁商旅</string>
		<key>version</key>
		<string>1.0</string>
		<key>description</key>
		<string>随时随处查询、预订酒店机票</string>
		<key>owner</key>
		<false/>
		<key>iTunesUrl</key>
		<string>https://itunes.apple.com/cn/app/su-ning-shang-lu/id606889872?ls=1&amp;mt=8</string>
		<key>localUrl</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string>subookicon.png</string>
		<key>name</key>
		<string>苏宁阅读</string>
		<key>version</key>
		<string>1.1.0</string>
		<key>description</key>
		<string>SuBook苏宁阅读，多终端，多平台，体验随时随地的无缝阅读</string>
		<key>owner</key>
		<false/>
		<key>iTunesUrl</key>
		<string>http://itunes.apple.com/cn/app/id568803051?l=en&amp;mt=8</string>
		<key>localUrl</key>
		<string>com.suning.reader4iphone://</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>suningeppicon.png</string>
		<key>name</key>
		<string>苏宁易付宝</string>
		<key>version</key>
		<string>1.0</string>
		<key>description</key>
		<string>依托技术的不断创新，产品不断革新，提供卓越的掌上支付服务</string>
		<key>owner</key>
		<false/>
		<key>iTunesUrl</key>
		<string>https://itunes.apple.com/cn/app/su-ning-yi-fu-bao/id609358564?ls=1&amp;mt=8</string>
		<key>localUrl</key>
		<string>com.suning.SuningEfubao://</string>
	</dict>
	<dict>
		<key>localUrl</key>
		<string></string>
		<key>iTunesUrl</key>
		<string>https://itunes.apple.com/us/app/su-ning-yun-pan/id652024510?ls=1&amp;mt=8</string>
		<key>owner</key>
		<false/>
		<key>description</key>
		<string>电脑手机多端同步，免费2T超大空间，无限制外链分享</string>
		<key>version</key>
		<string></string>
		<key>name</key>
		<string>苏宁云</string>
		<key>icon</key>
		<string>SNCloudeIcon.png</string>
	</dict>
</array>
</plist>
